@{
    ViewBag.Title = "Home Page";
}

<div class="row" ng-controller="homeController">
    <div class="col-md-12">
        <h2>Get information</h2>
        <a href="" ng-click="getInformations()" class="btn btn-primary" id="informations" ng-show="isSignIn">Get informations</a>
    </div>
    <br />
    <google-plus-signin clientid="1045692112624-7hqbkrf6j45gqb2qotl6b66kjuubcmb5.apps.googleusercontent.com" ng-show="!isSignIn"></google-plus-signin>

    <br />
    <h3>Labels</h3>
    <div my-labels></div>
    <br/>
    <h3>Messages</h3>
    <table>
        <tr ng-repeat="message in Messages">
            <td ng-if="$first" style="background-color:#f1f1f1">#</td>
            <td ng-if="$first" style="background-color:#f1f1f1">Snippet</td>
            <td ng-if="$first" style="background-color:#f1f1f1">Mime Type</td>
            <td ng-if="$first" style="background-color:#f1f1f1">History Id</td>


            <td ng-if="!$first">{{$index}}</td>
            <td ng-if="!$first">{{message.Snippet}}</td>
            <td ng-if="!$first">{{message.Payload.MimeType}}</td>
            <td ng-if="!$first">{{message.HistoryId}}</td>
        </tr>
    </table>
</div>

<script>
    function onSignIn(googleUser) {
        var profile = googleUser.getBasicProfile();
        console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
        console.log('Name: ' + profile.getName());
        console.log('Image URL: ' + profile.getImageUrl());
        console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.
    }

  function signOut() {
    var auth2 = gapi.auth2.getAuthInstance();
    auth2.signOut().then(function () {
      console.log('User signed out.');
    });
  }
</script>

